<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatting">

<!-- <insert id="enterChatRoom" parameterType="chatRoom">
	INSERT INTO CHATROOM VALUES(#{chatroomName},#{chatroomUser})
</insert> -->
<insert id="insertMessage" parameterType="chatting">
	INSERT INTO CHATMESSAGE (CHAT_NO,SENDER_ID,RECEIVER_ID,UPLOAD_FILE,CHAT_MESSAGE,SENDER_MBTI) 
	SELECT CHAT_NO.NEXTVAL,#{senderId},#{receiverId},#{uploadFile},#{chatMessage}, MEMBER_MBTI 
	FROM MEMBER 
	WHERE MEMBER_ID=#{senderId}
</insert>


<insert id="insertChatRoom" parameterType="chatting">
	INSERT INTO CHATROOM VALUES (CHATROOM_NO.NEXTVAL,#{chatRoomName})
</insert>

<insert id="insertChatAttendence" parameterType="chatting">
	INSERT INTO CHATATTENDENCE VALUES (CHATATTENDENCE_NO.NEXTVAL,(SELECT MAX(CHATROOM_NO) FROM CHATROOM WHERE CHATROOM_NAME=#{chatRoomName}),(SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_ID=#{senderId}))
</insert>
<select id="selectAttendenceList" parameterType="String" resultType="String">
SELECT CHAT_USER FROM CHATATTENDENCE JOIN CHATROOM c USING (CHATROOM_NO) WHERE CHATROOM_NAME=#{chatRoomName}
<!-- WHERE CHAT_USER=#{chatroomUser} -->
</select>

<select id="selectChatroomList" parameterType="String" resultType="String">
SELECT chatroom_name
FROM CHATATTENDENCE c 
INNER JOIN CHATROOM chatc 
ON chatc.CHATROOM_NO = c.CHATROOM_NO
<!-- WHERE CHAT_USER=#{chatroomUser} -->
</select>

<delete id="deleteChatAttendence" parameterType="chatting">
	DELETE FROM CHATATTENDENCE WHERE CHAT_USER=#{senderId}
</delete>
</mapper>

