<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="member" id="memberMap">
		<id column="member_id" property="member_id"/>
		<result column="member_pw" property="member_pw"/>
		<result column="member_name" property="member_name"/>
		<result column="member_nick" property="member_nick"/>
		<result column="member_date" property="member_date"/>
		<result column="member_gender" property="member_gender"/>
		<result column="member_email" property="member_email"/>
		<result column="member_addr" property="member_addr"/>
		<result column="member_phone" property="member_phone"/>
		<result column="member_content" property="member_content"/>
		<result column="member_mbti" property="member_mbti"/>
		<result column="member_police" property="member_police"/>
		<result column="member_black" property="member_black"/>
		<result column="member_enroll" property="member_enroll"/>
		<result column="status" property="status"/>
		<result column="authkey" property="authKey"/>
		<collection property="profile" ofType="profile">
			<id column="profileno" property="profileNo"/>
			<result column="originalfilename" property="originalFileName"/>
			<result column="renamedfilename" property="renamedFileName"/>
		</collection>
	</resultMap>
	
<select id="login" resultMap="memberMap" parameterType="member"> SELECT * FROM MEMBER WHERE MEMBER_ID=#{member_id} </select>
<select id="checkId" parameterType="string" resultType="int"> SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID=#{member_id} </select>
<select id="checkNick" parameterType="string" resultType="int"> SELECT COUNT(*) FROM MEMBER WHERE MEMBER_NICK=#{member_nick} </select>
<insert id="insertMember" parameterType="member"> INSERT INTO MEMBER VALUES(#{member_id},#{member_pw},#{member_name},#{member_nick}, #{member_date},#{member_gender},#{member_email},#{member_addr},#{member_phone}, #{member_content},DEFAULT,DEFAULT,DEFAULT,SYSDATE,'N',DEFAULT) </insert>
<insert id="insertProfile" parameterType="profile"> INSERT INTO PROFILE VALUES(SEQ_PROFILENO.NEXTVAL,#{member_id},#{originalFileName},#{renamedFileName}) </insert>
<update id="updateAuthKey" parameterType="member"> UPDATE MEMBER SET AUTHKEY=#{authKey} WHERE MEMBER_EMAIL=#{member_email} </update>
<update id="updateAuthStatus" parameterType="string"> UPDATE MEMBER SET STATUS='Y' WHERE MEMBER_EMAIL=#{member_email} </update>
<select id="findId" parameterType="member" resultMap="memberMap"> SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{member_email} AND MEMBER_NAME=#{member_name} AND STATUS='Y' </select>
<select id="findIdResult" parameterType="member" resultMap="memberMap"> SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{member_email} AND AUTHKEY=#{authKey} AND STATUS='Y' </select>
<select id="findPwd" parameterType="member" resultMap="memberMap"> SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{member_email} AND MEMBER_ID=#{member_id} AND MEMBER_NAME=#{member_name} AND STATUS='Y' </select>
<update id="findPwdUpdate" parameterType="member"> UPDATE MEMBER SET MEMBER_PW=#{member_pw} WHERE MEMBER_ID=#{member_id} </update>
<update id="insertMbti" parameterType="member"> UPDATE MEMBER SET MEMBER_MBTI=#{member_mbti} WHERE MEMBER_ID=#{member_id} </update>
</mapper>